body, html, .ox {
  margin: 0;
  padding: 0;
  font: normal 12px/180% "SimSun";
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  
}
body {
  background-repeat: no-repeat;
  background-size: 100%;
}
html {
  min-height: 100%;
  background-color: white;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
.fl {
  float: left;
}
ul, li {
  list-style-type: none;
}

a {
  color: unset;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.owo-build-info {
  position: fixed;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 10px;
  right: 0;
  bottom: 0;
}

[owo-id]:hover {
  box-shadow: rgb(11, 234, 235) 0px 0px 5px inset;
}